<div class="container-fluid">
  <div class="row p-wrapper">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="col-md-4 col-md-offset-4" style="margin-top:10%;">
        <div class="">
          <h1 style="margin:0px auto; width: 72%;">
            <div class="text-center">
              <%= image_tag "myLogo.png", style: "width:184px" %>
            </div>
          </h1>
          </br>
          <h3 class="text-center">Sign up</h3>
          <%= form_for User.new, :url => home_save_user_path, :method => "post", :validate => true do |f| %>

              <div class="field">
                <label for="exampleInputEmail1" class="sr-only">Name</label>
                <%= f.text_field :name, placeholder: "Name", class: 'form-control', autofocus: true %>
              </div>
              </br>

              <div class="field">
                <label for="exampleInputEmail1" class="sr-only">Email address</label>
                <%= f.email_field :email, placeholder: "Email", class: 'form-control', autofocus: true %>
              </div>
              </br>

              <div class="field">
                <label for="exampleInputEmail1" class="sr-only">Address</label>
                <%= f.text_field :address, placeholder: "Address", class: 'form-control', autofocus: true %>
              </div>
              </br>

              <div class="field">
                <label for="exampleInputEmail1" class="sr-only">Pin Code</label>
                <%= f.text_field :pin_code, placeholder: "Pin Code", class: 'form-control', autofocus: true %>
              </div>
              </br>


              <div class="field">
                <div class='input-group date'>
                  <%= f.text_field :date_of_birth, class: "form-control",  :placeholder => "MM/DD/YYYY", :id => "datepicker1", :style => "z-index: 100000;", :maxlength => 10 %>
                  <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar" id="datepicker11" style="padding:0px 10px;  cursor:pointer"></span>
                 </span>
                </div>
                <br>
              </div>

              <div class="field">
                <label for="exampleInputEmail1" class="sr-only">Theme</label>
                <%= f.text_field :theme, placeholder: "Theme", class: 'form-control minicolor', validate: false, :id => "picker", data: {'no-turbolink' => true}, as: :minicolors, input_html: {data: {minicolors: {theme: :bootstrap, position: :right}}} %>
              </div>
              </br>


              <div class="field">
                <label for="exampleInputPassword1" class="sr-only">Password</label>
                <%= f.password_field :password, class: 'form-control', placeholder: "Password", autofocus: true %>
              </div>
              </br>

              <div class="field">
                <label for="exampleInputPassword1" class="sr-only">Password</label>
                <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirm Password", autofocus: true %>
              </div>

              <%= f.hidden_field :role, :value => "end_user" %>


              <div class="actions" style="margin-top: 20px;">
                <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block p-roundedC" %>
              </div>
              </br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    $('#picker').minicolors();


    $(document).ready(function () {
        $('#datepicker1').datepicker({

        });
        $('#datepicker11').click(function () {
            $('#datepicker1').focus();
        });
    });

</script>

